.twin-container{
    display: flex;
    margin-bottom:20px;
}
.product-container{
    width:60%;
    margin-left: 10%;
    margin-right:5px;
    border-right: 5px solid lightgrey;
}
.cart-container{
    margin: 0 auto;
  border: 3px ;
  padding: 10px;

}